[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "inlcolor"]
	path = inlcolor
	url = https://github.com/cran/inlcolor
[submodule "inldata"]
	path = inldata
	url = https://github.com/cran/inldata
[submodule "inlpubs"]
	path = inlpubs
	url = https://github.com/cran/inlpubs
[submodule "webmap"]
	path = webmap
	url = https://github.com/cran/webmap
